@font-face {
  font-family: 'Europa Regular';
  font-display: swap;
  src: url('../fonts/europa-regular-webfont.woff2') format('woff2'),
    url('../fonts/europa-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Europa Bold';
  font-display: swap;
  src: url('../fonts/europa-bold-webfont.woff2') format('woff2'),
    url('../fonts/europa-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Sansita Regular';
  font-display: swap;
  src: url('../fonts/sansita-regular-webfont.woff2') format('woff2'),
    url('../fonts/sansita-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Sansita Bold';
  font-display: swap;
  src: url('../fonts/sansita-bold-webfont.woff2') format('woff2'),
    url('../fonts/sansita-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Bold';
  font-display: swap;
  src: url('../fonts/roboto-bold.woff2') format('woff2'),
    url('../fonts/roboto-bold.woff') format('woff');
}
